/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

/* Responsive styling
 */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: #e8e8e8;
  /* justify-items: center; */
}

h1 {
  margin: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1%;
  color: rgb(0, 64, 255);
}
.map {
  margin-top: 10px;
  width: 300px;
  height: 200px;
}

/*
MapBox styling
 */
.popup-card {
  font-size: large;
  justify-content: center;
  background-color: transparent;
}

.marker {
  background-image: url("./public/icons/camera@2x.png");
  background-size: cover;
  width: 70px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
  opacity: 0.8;
  max-width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .map {
    width: 550px;
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .map {
    width: 800px;
    height: 600px;
  }
}
